.advantages {
  position: relative;
}

.advantages__wrapper {
  padding-top: 27px;
  padding-right: $padding-content;
  padding-left: $padding-content;
}

.advantages__wrapper::before {
  @include top-zigzag;
}

.advantages__title {
  margin: 0 0 32px;

  @include font-set($text-section, $lh-loose, $weight-bold);
  color: $color-header;
}

.advantages__list {
  @include list-reset;
}

.advantages__item {
  box-sizing: border-box;
  min-height: 123px;
  padding-top: 54px;

  @include font-set($text-important, $lh-dense, $weight-bold);
  color: $color-important;

  &--eco {
    @include background-image("../img/icon-feature-flower.svg", 9px, 0);
  }

  &--price {
    @include background-image("../img/icon-feature-money.svg", 0, 0);
  }

  &--likes {
    @include background-image("../img/icon-feature-heart.svg", 8px, 6px);
  }

  &--handmade {
    @include background-image("../img/icon-feature-ball.svg", 3px, 3px);
  }

  &--domestic {
    @include background-image("../img/icon-feature-rocket.svg", -5px, 3px);
  }

  &--gift {
    @include background-image("../img/icon-feature-gift.svg", 3px, 2px);
  }
}

@media (min-width: $width-tablet) {
  .advantages__wrapper {
    padding-top: 48px;
    padding-right: $padding-content-tablet;
    padding-bottom: 26px;
    padding-left: $padding-content-tablet;
  }

  .advantages__title {
    margin-bottom: 49px;
    margin-left: -3px;

    @include font-set($text-header-tablet, $lh-header-tablet);
  }

  .advantages__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    height: 465px;
  }

  .advantages__item {
    min-height: 155px;
    width: 50%;
    padding-right: 6%;

    @include font-set($text-important-tablet, 22px);
  }
}

@media (min-width: $width-desktop) {
  .advantages__wrapper {
    @include desktop-content-box;
    box-sizing: border-box;
    padding-top: 60px;
    padding-right: 175px;
    padding-bottom: 32px;
    padding-left: 175px;
  }

  .advantages__title {
    @include font-set($text-header-desktop, $lh-header-desktop);
  }
}
