.catalog__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;

  @include list-reset;
  padding-top: 30px;
  padding-right: $padding-content;
  padding-left: $padding-content;
}

.catalog__item {
  margin-bottom: 30px;
}

@media (min-width: $width-tablet) {
  .catalog__list {
    align-items: stretch;

    padding-top: 79px;
    padding-right: $padding-content-tablet;
    padding-left: $padding-content-tablet;
  }

  .catalog__item {
    margin-bottom: 54px;
  }
}

@media (min-width: $width-desktop) {
  .catalog__list {
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;

    @include desktop-content-box;
    padding-top: 128px;
  }

  .catalog__item {
    margin-bottom: 57px;
  }
}
