.category__list {
  @include list-reset;
}

.category__link {
  position: relative;

  display: block;

  box-sizing: border-box;
  min-height: 103px;
  padding-top: 25px;
  padding-bottom: 30px;
  padding-left: $padding-content;

  @include font-set(19px, $lh-normal, $weight-bold);
  text-decoration: none;
  color: $color-contrast;

  background-color: $color-primary;
  outline: none;

  &:hover {
    padding-bottom: 35px;
    margin-top: -5px;
  }

  &:focus,
  &:active {
    color: rgba($color-contrast, 0.3);
  }

  &--interior {
    background-color: $color-category-interior;

    &:hover,
    &:focus,
    &:active {
      background-color: $color-category-interior-hover;
    }
  }

  &--toys {
    background-color: $color-category-toys;

    &:hover,
    &:focus,
    &:active {
      background-color: $color-category-toys-hover;
    }
  }
}

.category__link::after {
  content: "";

  position: absolute;
  top: 20px;
  right: $padding-content;

  width: 65px;
  height: 65px;

  opacity: 0.5;
}

.category__link:hover::after {
  opacity: 0.7;
}

.category__link:focus::after,
.category__link:active::after {
  opacity: 0.3;
}

.category__link--interior::after {
  margin-right: 5px;

  @include background-image("../img/icon-interior.svg", right, 3px);
}

.category__link--toys::after {
  margin-right: -2px;

  @include background-image("../img/icon-toy.svg", right, 1px);
}

.category__link span {
  display: block;

  width: 130px;
}

@media (min-width: $width-tablet) {
  .category__list {
    display: flex;
    justify-content: center;

    margin-top: -119px;
    padding: 0 $padding-content-tablet;
  }

  .category__item {
    flex-grow: 1;
  }

  .category__link {
    min-height: 119px;
    padding-top: 27px;
    padding-bottom: 32px;
    padding-left: 36px;

    @include font-set($text-important-tablet, $lh-loose);

    &:hover {
      padding-bottom: 37px;
    }
  }

  .category__link--interior::after {
    top: 28px;
    right: 31px;
  }

  .category__link--toys::after {
    top: 30px;
    right: 36px;
  }
}

@media (min-width: $width-desktop) {
  .category__list {
    @include desktop-content-box;
  }
}
