.contacts {
  position: relative;

  padding-bottom: 39px;
}

.contacts__wrapper {
  padding-top: 35px;
  padding-right: $padding-content;
  padding-bottom: 8px;
  padding-left: $padding-content;
}

.contacts__wrapper::before {
  @include top-zigzag;
}

.contacts__title {
  position: relative;

  margin: 0 0 27px -3px;

  @include font-set(18px, $lh-loose, $weight-bold);
  color: $color-header;
}

.contacts__info {
  line-height: $lh-loose;
}

.contacts__item {
  display: flex;

  margin-bottom: 29px;
}

.contacts__label {
  flex-shrink: 0;

  width: 77px;
}

.contacts__link {
  text-decoration: none;
  color: $color-paragraph;

  background-image: linear-gradient($color-interactive-primary, $color-interactive-primary);
  background-size: 1px 1px;
  background-repeat: repeat-x;
  background-position: 0 28px;
  outline: none;

  &:hover,
  &:focus {
    color: $color-interactive-secondary;

    background-image: linear-gradient($color-interactive-secondary, $color-interactive-secondary);
  }

  &:active {
    color: rgba($color-interactive-secondary, 0.3);

    background-image: linear-gradient(rgba($color-interactive-secondary, 0.1), rgba($color-interactive-secondary, 0.1));
  }
}

.contacts__text {
  margin: 0 35px 0 0;
}

.contacts__map {
  position: relative;

  display: flex;

  min-height: 457px;
  margin-bottom: 39px;
}

.contacts__map iframe {
  position: absolute;
  z-index: 10;

  width: 100%;
  height: 100%;

  border: none;
}

.contacts__map picture {
  display: flex;
  justify-content: center;

  width: 100%;

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    @include background-image("../img/map-pin.svg", calc(50% + 10px), calc(50% - 34px));
    background-size: 67px 100px;
  }
}

.contacts__map img {
  width: auto;
  height: 457px;
}

.contacts__btn {
  margin-right: $padding-content;
  margin-left: $padding-content;

  font-size: 18px;
}

@media (min-width: $width-tablet) {
  .contacts {
    padding-bottom: 57px;
  }

  .contacts__wrapper {
    padding-top: 62px;
    padding-right: $padding-content-tablet;
    padding-bottom: 27px;
    padding-left: $padding-content-tablet;
  }

  .contacts__title {
    margin-bottom: 49px;

    @include font-set($text-header-tablet, $lh-header-tablet);

    &::after {
      content: "";

      position: absolute;
      top: -16px;
      right: 2px;

      display: block;

      width: 47px;
      height: 81px;

      @include background-image("../img/flag.svg", 0, 0);
    }
  }

  .contacts__info {
    display: flex;

    font-size: $text-important;
  }

  .contacts__item {
    width: 50%;
  }

  .contacts__map {
    margin-bottom: 55px;
  }

  .contacts__btn {
    width: 230px;
    margin: 0 auto;
  }
}

@media (min-width: $width-desktop) {
  .contacts {
    display: flex;
    flex-wrap: wrap;

    @include desktop-content-box;
    padding-top: 71px;
    padding-bottom: 105px;
  }

  .contacts__wrapper {
    box-sizing: border-box;
    width: 50%;
    padding: 0;
    padding-top: 71px;
    padding-left: 175px;
  }

  .contacts__title {
    @include font-set($text-header-desktop, $lh-header-desktop);

    &::after {
      top: -8px;
      right: auto;
      left: -109px;
    }
  }

  .contacts__info {
    flex-direction: column;
  }

  .contacts__item {
    width: 100%;

    &:last-child {
      margin-bottom: 70px;
    }
  }

  .contacts__map {
    width: 50%;
    margin-bottom: 0;
  }

  .contacts__btn {
    margin-top: -51px;
    margin-left: 175px;
  }
}
