.main-content {
  flex-grow: 0;
  flex-shrink: 0;
}

.main-content__video {
  margin: 0 auto 58px;
}

@media (min-width: $width-tablet) {
  .main-content__video {
    margin-bottom: 62px;
  }
}

@media (min-width: $width-desktop) {
  .main-content__video {
    margin-bottom: 105px;
  }
}
