.main-header__top {
  box-sizing: border-box;

  background-color: $color-bg-primary;
}

.main-header__logo {
  display: flex;
  justify-content: center;

  min-height: 79px;
}

.main-header__logo-image {
  width: 86px;
  height: 35px;
  margin-top: 22px;
  margin-left: -2px;
}

.main-header__delivery {
  display: none;
}

.main-header__bottom {
  box-sizing: border-box;
  min-height: 177px;
  padding-top: 70px;
  padding-right: $padding-content;
  padding-left: $padding-content;

  background-color: $color-bg-secondary;

  &--image {
    min-height: 283px;

    @include background-image(#f9f9f9, "../img/hero-mobile@1x.jpg", 50%, -17px);
  }
}

.main-header__title {
  margin: 0;

  @include font-set($text-header, $lh-loose, $weight-bold);
  text-align: center;
  color: $color-header;
}

@media (min-width: $width-tablet) and (max-width: $width-desktop - 1px) {
  .main-header__top {
    height: 88px;
    padding: 0 $padding-content-tablet;
  }

  .main-header__logo {
    justify-content: flex-start;

    height: 88px;
  }

  .main-header__logo-image {
    width: 113px;
    height: 46px;
  }

  .main-header__bottom {
    min-height: 226px;
    padding-top: 95px;

    box-shadow: inset 0 1px 0 0 #e7e7e7;

    &--image {
      min-height: 746px;
      padding-top: 154px;
    }
  }

  .main-header__title {
    @include font-set($text-header-tablet, $lh-header-tablet);
  }
}

@media (min-width: $width-tablet) {
  .main-header__delivery {
    display: block;

    margin: -42px 0 0;

    text-align: right;
  }
}

@media (min-width: $width-desktop) {
  .main-header__top {
    @include desktop-content-box;
    height: 88px;
  }

  .main-header__logo {
    height: 88px;
  }

  .main-header__logo-image {
    width: 149px;
    height: 72px;
    margin-top: 9px;
    margin-left: -1px;
  }

  .main-header__bottom {
    min-height: 255px;
    padding-top: 95px;

    box-shadow: inset 0 1px 0 0 #e7e7e7;

    &--image {
      min-height: 746px;
      padding-top: 154px;
    }
  }

  .main-header__title {
    @include font-set($text-header-desktop, $lh-header-desktop);
  }
}
