.main-nav {
  position: relative;

  @include font-set($text-important, $lh-normal, $weight-bold);
  color: $color-important;

  background-color: $color-bg-primary;
  box-shadow: inset 0 1px 0 $color-border-primary;
  outline: 1px solid $color-border-primary;
}

.main-nav__toggle {
  position: absolute;
  top: 29px;
  right: $padding-content;
  z-index: 12;

  display: none;

  width: 21px;
  height: 20px;

  border: none;
  outline: none;
  cursor: pointer;
}

.main-nav__list {
  @include list-reset;
}

.main-nav__item {
  box-shadow:
    0 1px 0 $color-border-primary,
    inset 0 1px 0 $color-border-primary;

  &--optional {
    display: none;
  }
}

.main-nav__link {
  display: block;

  position: relative;

  box-sizing: border-box;
  min-height: 79px;
  padding-top: 26.5px;
  padding-left: calc(30 / 320 * 100% + 46px);

  text-decoration: none;
  color: $color-important;

  &:hover[href] {
    color: rgba($color-important, 0.6);
  }

  &:focus[href],
  &:active[href] {
    color: rgba($color-important, 0.3);
    outline: none;
  }
}

.main-nav__icon {
  position: absolute;
  top: 31px;
  left: $padding-content;

  &--search {
    top: 32px;

    margin-left: 2px;
  }

  path {
    fill: rgba(#231f20, 0.2);
  }
}

.main-nav__link[href]:hover {
  path {
    fill: $color-primary;
  }
}

.main-nav__link[href]:focus,
.main-nav__link[href]:active {
  path {
    fill: rgba($color-primary, 0.3);
  }
}

@media (max-width: $width-tablet - 1) {
  .main-nav--opened {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;

    width: 100%;
  }

  .main-nav--opened .main-nav__toggle {
    display: block;

    @include background-image("../img/icon-menu-close.svg", 0, 0, transparent);
  }

  .main-nav--closed .main-nav__toggle {
    display: block;

    @include background-image("../img/icon-menu-open.svg", 0, 3px, transparent);
  }

  .main-nav--closed .main-nav__item {
    display: none;

    &--logo {
      display: block;
    }
  }
}

@media (min-width: $width-tablet) {
  .main-nav {
    background-color: transparent;

    box-shadow: none;
    outline: none;
  }

  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;

    &::after {
      content: "";

      flex-grow: 1;

      display: block;
      width: 100%;
    }
  }

  .main-nav__item {
    flex-shrink: 0;

    font-size: $text-primary;

    box-shadow: none;

    &--logo {
      margin-left: -2px;
      margin-right: auto;
    }

    &--primary {
      order: 2;

      margin-right: 37px;
    }

    &--user {
      font-size: $text-important;

      border-left: 1px solid $color-border-primary;
    }
  }

  .main-nav__link {
    min-height: 60px;
    padding-top: 18px;
    padding-left: 0;

    &--search,
    &--cart {
      height: 88px;
      padding-top: 31px;
      padding-left: 82px;
    }

    &--search span {
      @include visually-hidden;
    }

    &--cart {
      min-width: 264px;
    }
  }

  .main-nav__icon {
    top: 35px;
    left: 32px;

    &--search {
      top: 37px;

      margin-left: 0;
    }
  }
}

@media (min-width: $width-desktop) {
  .main-nav__item--primary {
    order: -2;

    margin-right: 0;

    font-size: $text-important;

    .main-nav__link {
      height: 88px;
      padding-top: 31px;
      padding-right: 35px;
    }

    &:not(:nth-child(2)) .main-nav__link {
      padding-left: 35px;

      border-left: 1px solid $color-border-primary;
    }
  }

  .main-nav__item--logo {
    margin-right: 101px;
    margin-left: auto;
  }

  .main-nav__item--optional {
    display: block;

    margin-right: 60px;
  }

  .main-nav__link--cart {
    min-width: 266px;
  }
}
