.modal {
  position: fixed;
  top: 50%;
  z-index: 25;

  display: none;

  box-sizing: border-box;
  width: 100%;
  min-width: 320px;
  padding-top: 30px;
  padding-right: $padding-content;
  padding-bottom: 46px;
  padding-left: $padding-content;

  background-color: $color-bg-primary;
  border: 1px solid #c6c6c6;
  box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);

  animation-name: show-up;
  animation-duration: 0.3s;
}

.modal--show {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__title {
  width: 160 / 260 * 100%;
  margin-bottom: 12px;

  @include font-set($text-section, $lh-loose, $weight-bold);
  text-transform: uppercase;
  text-align: center;
  color: $color-header;
}

.modal__text {
  margin: 0 0 23px;

  line-height: $lh-loose;
}

.modal__form {
  width: 100%;
}

.modal__btn {
  width: 100%;
  padding: 0;

  line-height: 16px;
  color: $color-contrast;

  background-color: $color-primary;
  border-color: $color-primary;

  &:hover,
  &:focus,
  &:active {
    border-color: $color-btn;
  }
}

@media (min-width: $width-tablet) {
  .modal {
    left: 50%;

    width: 568px;
    padding-left: 0;
    padding-right: 0;
    margin-left: -(568px / 2);
  }

  .modal__title {
    width: 100%;

    @include font-set(30px, 57px);
  }

  .modal__text {
    font-size: $text-important;
  }

  .modal__form {
    box-sizing: border-box;
    padding: 0 108px;
  }
}

@keyframes show-up {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  50% {
    opacity: 0.25;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}
