.page-text {
  margin: 0;
  padding-top: 22px;
  padding-right: $padding-content;
  padding-bottom: 24px;
  padding-left: $padding-content;

  @include font-set($text-small, $lh-normal);
}

@media (min-width: $width-tablet) {
  .page-text {
    padding-top: 70px;
    padding-right: $padding-content-tablet;
    padding-bottom: 8px;
    padding-left: $padding-content-tablet;

    @include font-set($text-important, $lh-loose);
  }
}

@media (min-width: $width-desktop) {
  .page-text {
    @include desktop-content-box;
    box-sizing: border-box;
    padding-top: 120px;
    padding-right: 175px;
    padding-left: 175px;
  }
}
