.product {
  width: 100%;
}

.product:hover {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}

.product:active {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.product__photo {
  display: block;

  background-color: $color-bg-secondary;

  img {
    display: block;

    width: 260px;
    height: auto;
    margin: 0 auto;
  }
}

.product__info {
  box-sizing: border-box;
  padding-top: 26px;
  padding-right: 27px;
  padding-bottom: 27px;
  padding-left: 27px;

  background-color: $color-bg-primary;
  border: 1px solid $color-border-primary;
}

.product__top {
  padding-bottom: 20px;
}

.product__link {
  display: block;

  text-decoration: none;

  outline: none;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.product__title {
  margin: 0 0 5px;

  @include font-set($text-important, $lh-normal, $weight-bold);
  color: $color-header;
}

.product__data {
  margin: 0;

  @include font-set($text-small, $lh-loose);
}

.product__bottom {
  display: flex;
  justify-content: space-between;

  padding-top: 20px;

  border-top: 1px solid $color-border-primary;
}

.product__price {
  font-weight: $weight-bold;
  color: $color-important;
}

.product__to-cart {
  width: 20px;
  height: 19px;
  margin-top: 1px;
  margin-right: -1px;

  outline: none;

  fill: #d3d2d2;

  &:hover,
  &:focus {
    fill: $color-primary;
  }

  &:active {
    fill: rgba($color-primary, 0.3);
  }
}

@media (min-width: $width-tablet) {
  .product {
    display: flex;

    width: 100%;
  }

  .product__photo {
    width: 50%;
    min-height: 334px;

    img {
      width: 334px;
      height: auto;
    }
  }

  .product__info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    width: 50%;
    padding-top: 24px;
    padding-right: 33px;
    padding-bottom: 25px;
  }

  .product__top {
    margin-bottom: auto;
  }

  .product__title {
    width: 88%;

    font-size: $text-important-tablet;
  }

  .product__data {
    font-size: $text-primary;
  }

  .product__price {
    padding-left: 3px;

    font-size: $text-important;
  }

  .product__to-cart {
    margin-top: 3px;
  }
}

@media (min-width: $width-desktop) {
  .product {
    flex-direction: column;

    width: 316px;
  }

  .product__photo {
    width: 100%;
    height: 462px;

    img {
      width: 316px;
      height: auto;
    }
  }

  .product__top {
    padding-bottom: 15px;
  }

  .product__info {
    width: 100%;
    padding-left: 25px;
  }

  .product__title {
    width: 92%;
  }

  .product__bottom {
    padding-top: 20px;
  }

  .product__price {
    padding-left: 0;
  }
}
