.review {
  margin: 0 0 29px;
  padding: 0;

  line-height: $lh-loose;
}

.review__text {
  margin: 0 0 25px;
}

.review__author {
  font-style: normal;
}

.review__author-name {
  @include font-set($text-important, $lh-normal, $weight-bold);
  color: $color-important;
}

.review__author-nick {
  @include font-set($text-important, $lh-loose, $weight-normal);
}

@media (min-width: $width-tablet) {
  .review {
    margin-bottom: 0;
  }

  .review__text {
    margin-bottom: 57px;

    @include font-set($text-important, $lh-loose);
  }

  .review__author {
    display: flex;
    flex-direction: column;
  }

  .review__author-name {
    margin-bottom: 4px;

    font-size: 18px;
  }
}

@media (min-width: $width-desktop) {
  .review__text {
    margin-bottom: 40px;
  }
}
