.reviews__wrapper {
  padding-top: 26px;
  padding-right: $padding-content;
  padding-bottom: 51px;
  padding-left: $padding-content;
}

.reviews__title {
  margin: 0 0 23px;

  @include font-set($text-section, $lh-loose, $weight-bold);
  color: $color-header;
}

.reviews__list {
  @include list-reset;
}

.reviews__btn {
  font-size: 18px;
}


@media (min-width: $width-tablet) {
  .reviews {
    min-height: 542px;
  }

  .reviews__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

    padding-top: 77px;
    padding-right: $padding-content-tablet;
    padding-bottom: 97px;
    padding-left: $padding-content-tablet;

    @include background-image("../img/review@1x.jpg", 0, 0, $color-bg-primary);
    background-size: auto 457px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/review@2x.jpg");
    }
  }

  .reviews__title {
    order: -2;

    margin-bottom: 48px;
    margin-left: -3px;

    @include font-set($text-header-tablet, $lh-header-tablet);
  }

  .reviews__list {
    width: 100%;
  }

  .reviews__btn {
    order: -1;

    width: 175px;
    margin-top: 2px;
    margin-left: auto;
  }
}

@media (min-width: $width-desktop) {
  .reviews__wrapper {
    @include desktop-content-box;
    box-sizing: border-box;
    padding-top: 71px;
    padding-bottom: 149px;
    padding-left: 175px;
  }

  .reviews__title {
    @include font-set($text-header-desktop, $lh-header-desktop);
  }

  .reviews__list {
    width: 88%;
  }

  .reviews__btn {
    margin-top: 9px;
  }
}
