.slider__controls {
  display: flex;

  margin-bottom: 38px;
}

.slider__control {
  position: relative;

  flex-grow: 1;

  height: 52px;
  margin: 0;
  padding: 0;

  background-color: $color-bg-primary;
  border: 1px solid $color-border-primary;
  outline: none;
  cursor: pointer;

  &::after {
    content: "";

    position: absolute;
    top: 13px;
    left: 0;

    width: 100%;
    height: 26px;
  }

  &:hover::after {
    opacity: 0.6;
  }

  &:focus::after,
  &:active::after {
    opacity: 0.3;
  }
}

.slider__control--previous {
  border-right: none;

  &::after {
    @include background-image("../img/icon-left-arrow.svg", center, 0);
  }
}

.slider__control--next {
  &::after {
    @include background-image("../img/icon-right-arrow.svg", center, 0);
  }
}

@media (min-width: $width-tablet) {
  .slider__controls {
    width: 175px;
    margin-top: -56px;
    margin-left: auto;
  }

  .slider__control {
    border: none;
  }
}
