.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;

  @include list-reset;
}

.social__item {
  margin-right: 20px;
  margin-left: 20px;
}

.social__link {
  display: block;

  outline: none;

  fill: #221f1f;


  &:hover,
  &:focus {
    fill: $color-interactive-secondary;
  }

  &:active {
    fill: rgba($color-interactive-secondary, 0.3);
  }
}

.social__link--instagram .social__icon {
  width: 22px;
  height: 21px;
  margin-top: 10px;
}

.social__link--facebook .social__icon {
  width: 15px;
  height: 28px;
  margin-top: 6px;
}

.social__link--twitter .social__icon {
  width: 23px;
  height: 20px;
  margin-top: 10px;
}
