.social {
  display: flex;
  justify-content: center;
  align-items: center;

  @include list-reset;
}

.social__item {
  margin-right: 40px;
}

.social__item:last-child {
  margin-right: 5px;
}

.social__link {
  display: block;

  background-color: #cccccc; //TMP
}

.social__link--instagram .social__icon {
  width: 22px;
  height: 21px;
}

.social__link--facebook .social__icon {
  width: 15px;
  height: 28px;
}

.social__link--twitter .social__icon {
  width: 23px;
  height: 20px;
}
