.to-cart-form__sizes {
  display: flex;
  justify-content: space-between;

  margin-bottom: 31px;
}

.to-cart-form__input-radio {
  @include visually-hidden;
}

.to-cart-form__label-radio {
  box-sizing: border-box;
  width: 82px;
  height: 52px;
  padding-top: 16px;

  @include font-set($text-important, 16px, $weight-bold);
  text-transform: uppercase;
  text-align: center;

  background-color: $color-bg-primary;
  border: 2px solid rgba($color-btn, 0.1);
  outline: none;

  &:hover {
    border-color: rgba($color-btn, 0.3);
  }
}

.to-cart-form__input-radio:checked + .to-cart-form__label-radio,
.to-cart-form__input-radio:focus + .to-cart-form__label-radio {
  border-color: $color-primary;
}

@media (min-width: $width-tablet) {
  .to-cart-form__label-radio {
    width: 112px;
  }
}
