.video {
  box-sizing: border-box;
  width: 100%;
  padding-right: $padding-content;
  padding-left: $padding-content;
}

.video__wrapper {
  &:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
}

.video__title {
  position: relative;

  margin: 0;
  padding-top: 24px;
  padding-right: 30px;
  padding-bottom: 23px;
  padding-left: 90px;

  @include font-set($text-important, $lh-normal, $weight-bold);
  color: $color-header;

  border: 1px solid $color-border-primary;
  border-bottom: none;

  &::before {
    content: "";

    position: absolute;
    top: calc(50% - 17px);
    left: 33px;

    width: 32px;
    height: 32px;

    @include background-image("../img/video.svg", 0, 0);
  }
}

.video__player {
  position: relative;

  min-height: 150px;

  background-color: $color-bg-secondary;
}

.video__preview {
  display: block;

  width: 260px;
  height: 150px;
  margin: 0 auto;
}

.video__btn-play {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  padding: 0;

  @include background-image("../img/play.svg", center, center, transparent);
  background-size: 101px 77px;
  border: 0;
  outline: none;
  cursor: pointer;

  &:hover {
    background-size: (1.2 * 101px) (1.2 * 77px);
  }

  &:focus,
  &:active {
    background-size: (0.8 * 101px) (0.8 * 77px);
    opacity: 0.3;
  }
}

.video__bottom {
  padding-top: 28px;
  padding-right: 34px;
  padding-bottom: 33px;
  padding-left: 34px;

  border: 1px solid $color-border-primary;
  border-top: none;
}

.video__description {
  margin: 0 0 24px;

  @include font-set($text-small, $lh-normal);
}

@media (min-width: $width-tablet) {
  .video {
    padding-right: $padding-content-tablet;
    padding-left: $padding-content-tablet;
  }

  .video__wrapper {
    display: flex;
    flex-direction: column;
  }

  .video__player {
    order: -1;

    min-height: 455px;
  }

  .video__preview {
    width: 668px;
    height: 455px;
  }

  .video__btn-play {
    height: 100%;
  }

  .video__title {
    padding-top: 37px;
    padding-bottom: 23px;
    padding-left: 105px;

    font-size: $text-important-tablet;

    &::before {
      top: 32px;
      left: 41px;
    }
  }

  .video__bottom {
    padding-top: 9px;
    padding-right: 40px;
    padding-bottom: 46px;
    padding-left: 40px;
  }

  .video__description {
    margin-bottom: 35px;

    @include font-set($text-primary, $lh-loose);
  }
}

@media (min-width: $width-desktop) {
  .video {
    @include desktop-content-box;
  }

  .video__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .video__preview {
    width: 682px;
  }

  .video__title {
    box-sizing: border-box;
    width: 368px;
    padding-top: 94px;
    padding-right: 55px;
    padding-left: 78px;

    &::before {
      top: 41px;
      left: 79px;
    }
  }

  .video__bottom {
    z-index: 1;

    box-sizing: border-box;
    width: 368px;
    padding-right: 58px;
    padding-left: 80px;
    margin-top: -287px;
    margin-left: auto;
  }

  .video__description {
    margin-bottom: 45px;
  }
}
