@mixin font-set($size, $line-height, $weight: null) {
  font-size: $size;
  line-height: $line-height;
  font-weight: $weight;
}

@mixin list-reset {
  margin: 0;
  padding: 0;

  list-style: none;
}

@mixin background-image($url, $x: center, $y: top, $color: null) {
  background-color: $color;
  background-image: url($url);
  background-repeat: no-repeat;
  background-position: $x $y;
}

@mixin desktop-content-box {
  width: $width-desktop-content;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0;
  padding-left: 0;
}

@mixin visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin top-zigzag {
  content: "";

  position: absolute;
  top: -6px;
  left: 0;

  width: 100%;
  height: 6.5px;

  @include background-image("../img/bg-zigzag-line.svg", center, top);
  background-size: auto 6.5px;
  background-repeat: repeat-x;

  transform: rotate(180deg);

  @media (min-width: $width-tablet) {
    top: -19px;

    height: 17px;

    background-size: 768px 17px;
  }

  @media (min-width: $width-desktop) {
    top: -23px;
    left: 0;
    right: 0;

    @include desktop-content-box;
    height: 23px;
    margin: auto;

    background-size: 1050px 23px;
  }
}
