@mixin font-set($size, $line-height, $weight: null) {
  font-size: $size;
  line-height: $line-height;
  font-weight: $weight;
}

@mixin list-reset {
  margin: 0;
  padding: 0;

  list-style: none;
}

@mixin background-image($color, $url, $x: center, $y: top) {
  background-color: $color;
  background-image: url($url);
  background-repeat: no-repeat;
  background-position: $x $y;
}

@mixin visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
