html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;

  min-width: 320px;
  min-height: 100vh;
  margin: 0;

  @include font-set($main-text, 1.6, $normal-weight);
  font-family: $font-primary;
  word-wrap: break-word;
  color: $primary-color;

  // background-color: $primary-bg;
}

img {
  max-width: 100%;
}
