$black: #000000;
$white: #ffffff;
$main-green: #63d1bb;
$main-grey: #444444;

$primary-color: $main-grey;
$secondary-color: $black;
$contrast-color: $white;
$colorful-text: $main-green;

$primary-bg: $white;
$secondary-bg: #f1f1f1;
$colorful-bg-primary: $main-green;
$colorful-bg-primary-hover: #59d5bc;
$colorful-bg-secondary: #56c3b2;
$colorful-bg-secondary-hover: #46c1ae;

$primary-border: #ececec;

$primary-btn: $main-grey;

$font-primary: "Open Sans", "Arial", serif;

$small-text: 13px;
$main-text: 15px;
$important-text: 17px;
$section-text: 25px;
$header-text: 27px;

$paragraph-dense: 20px;
$paragraph-normal: 24px;
$paragraph-loose: 30px;

$normal-weight: 400;
$bold-weight: 700;

$main-padding: 30px;
