$width-mobile: 320px;
$width-tablet: 768px;
$width-desktop: 1150px;
$width-desktop-content: 1050px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$padding-content: 30px / $width-mobile * 100%;
$padding-content-tablet: 50px / $width-tablet * 100%;


$font-primary: "Open Sans", "Arial", serif;

$text-small: 13px;
$text-primary: 15px;
$text-important: 17px;
$text-important-tablet: 20px;
$text-section: 25px;
$text-header: 27px;
$text-header-tablet: 43px;
$text-header-desktop: 53px;

$lh-dense: 20px;
$lh-normal: 24px;
$lh-loose: 30px;
$lh-header-tablet: 50px;
$lh-header-desktop: 57px;

$weight-normal: 400;
$weight-bold: 700;


$black: #000000;
$white: #ffffff;

$color-primary: #63d1bb;
$color-secondary: #444444;

$color-paragraph: $color-secondary;
$color-header: $black;
$color-important: $black;
$color-contrast: $white;

$color-bg-primary: $white;
$color-bg-secondary: #f1f1f1;

$color-border-primary: #ececec;
$color-border-secondary: #e5e5e5;

$color-btn: $color-secondary;

$color-interactive-primary: #62d1ba;
$color-interactive-secondary: #46c1ae;

$color-category-interior: $color-primary;
$color-category-interior-hover: #59d5bc;
$color-category-toys: #56c3b2;
$color-category-toys-hover: $color-interactive-secondary;
